h1{
    color: grey;
    background-color: cornsilk;
}
.author
{
    font-size: 12px;
    color: black;
}
.section{
    font-size: 1.3em;
    line-height: 1.8;
}
.keyword{
    border: 1px double rgb(146, 191, 202);
    width: 80px;
    text-align: center;
    padding: 5px;
    font-size: 1.2em;
    color: rgb(57, 105, 128);
    float: left;
    margin-right: 20px;
}
.plus{
    float: right;
    margin-right: 0px;
}
.clear{
    clear: both;
}
.extend{
    border: 1px solid rgb(202, 124, 51);
    width: 600px;
    padding: 10px;
    font-size: 1.2em;
    color: rgb(80, 84, 87);
    border-radius: 10px;
}